<ion-view title="Create new decision">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <form name="decisionForm" novalidate>

            <span ng-show="decisionForm.title.$invalid && decisionForm.title.$dirty">
                Please enter a title
            </span>

            <span ng-show="decisionForm.description.$invalid && decisionForm.description.$dirty">
                Please enter a description
            </span>

            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Title" ng-model="decision.title" required>
                </label>
                <label class="item item-input">
                    <textarea placeholder="Description" ng-model="decision.description" required></textarea>
                </label>
                <label class="item item-input" ng-click="openStartDatePicker()">
                    <span class="input-label">Start date</span>
                    <input type="text" ng-model="decision.votingOpenDate">
                    <!-- <span class="input-label">Start date</span>
                    <datetimepicker data-ng-model="decision.votingOpenDate"></datetimepicker>
                    <input type="date" ng-model="decision.votingOpenDate" required> -->
                </label>


            </div>

            <!--

            {
  "title": "jjdsd",
  "description": "supergeil",
  "votingCloseDate": "2015-08-08T16:00:00Z",
  "votingOpenDate": "2014-10-09T15:00:00Z"
}

            -->


            <button class="button button-full button-positive" ng-click="submit()" ng-disabled="decisionForm.$invalid">
                Create
            </button>

        </form>

    </ion-content>

</ion-view>
