<ion-view title="Current Decisions">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item">
                <h2>Welcome {{user.name}}!</h2>
                <p>mail: {{user.email}}</p>
                <p>key: {{user.key}}</p>
            </div>
        </div>

        <a class="button icon-right ion-chevron-right button-calm" ng-href="#/app/decisions-create">Create Decision</a>

        <ul class="list">
            <li class="item" ng-repeat="decision in decisions">
                {{decision.title}}
            </li>
        </ul>

    </ion-content>

</ion-view>
