<ion-view title="{{ voting.title }}">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-close-round" ng-href="#/app/votings"></a>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <form name="votingForm" novalidate>

            <div class="list">

                <div class="item">
                    <nvd3-pie-chart
                            data="pieSegments"
                            id="votePie"
                            width="300"
                            height="300"
                            x="pieSegmentLabel()"
                            y="pieSegmentValue()"
                            color="pieSegmentColor()"
                            donut="true"
                            noData=""
                            showLabels="false"
                            margin="{left:0,top:0,bottom:0,right:0}">
                        <svg></svg>
                    </nvd3-pie-chart>
                </div>
                <div ng-repeat="vote in votes">
                    <div class="item item-divider" ng-click="setVoteActive(vote.option.id)">
                        <span>{{vote.option.name}}</span>
                        <span class="badge badge-positive" ng-click="maximizePointsForOption(vote.option.id)">{{vote.points}}</span>
                    </div>
                    <div class="item range range-vote-{{vote.option.id}}" collapse="!vote.active">
                        <input type="range" name="points" ng-model="vote.points" min="0" max="100" ng-change="updateVote(vote.option.id)" style="width:100%" ng-show="vote.active">
                    </div>
                </div>
                <a class="item item-icon-right" href="#" ng-hide="vote.length > 6">
                    <i class="icon ion-plus"></i>
                    Add an option
                </a>
                <a class="item item-icon-right" ng-click="submitVote()">
                    <i class="icon ion-speakerphone"></i>
                    Submit your vote
                </a>
            </div>

        </form>

    </ion-content>

</ion-view>
