<ion-view title="{{ voting.title }}">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-close-round" ng-href="#/app/votings"></a>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <form name="votingForm" novalidate>

            <div class="list">
                <a class="item item-icon-right" ng-click="voteFor(voting.id)">
                    <i class="icon ion-speakerphone"></i>
                    {{isParticipant? 'Update your vote!': 'Vote!'}}
                </a>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-information"></i>
                    {{ voting.description }}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-clock"></i>
                    {{ voting.countdownLabel }}
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-person-stalker"></i>
                    {{ voting.numberOfParticipants === 0 ? 'No' : voting.numberOfParticipants}} participants
                </div>
                <div class="item">
                    <nvd3-pie-chart
                            data="pieSegments"
                            id="statusPie"
                            width="300"
                            height="300"
                            x="pieSegmentLabel()"
                            y="pieSegmentValue()"
                            color="pieSegmentColor()"
                            noData=""
                            showlegend="true"
                            showLabels="false"
                            margin="{left:0,top:0,bottom:0,right:0}">
                        <svg></svg>
                    </nvd3-pie-chart>
                </div>

            </div>

        </form>

    </ion-content>

</ion-view>
